#soma,
#subtracao,
#multiplicacao,
#divisao,
#resto {
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
}

#soma{
    color:green;
}

#subtracao{
    color:blue;
}

#multiplicacao{
    color:yellow;
}

#divisao{
    color:orange;
}

#resto{
    color:red;
}

.numero {
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: black;
    padding: 0.5rem 1rem;
}